{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- BREADCRUMB -->
        <div class="bg-theme-overlay">
            <section class="section__breadcrumb ">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8 text-center">
                            <h2 class="text-capitalize text-white">blog single</h2>
                            <ul class="list-inline ">
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        home
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        blog
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-white">
                                        Detalle
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- END BREADCRUMB -->
    </header>
    <div class="clearfix"></div>

    <!-- LISTING LIST -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single__blog-detail">
                        <h1>
                            {{ blog.title }}
                        </h1>

                        <div class="single__blog-detail-info">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <figure class="image-profile">
                                        <img src="images/80x80.jpg" class="img-fluid" alt="">
                                    </figure>
                                </li>
                                <li class="list-inline-item">

                                    <span>
                                        Por  {{blog.author}},
                                    </span>
                                </li>
                                <li class="list-inline-item">
                                    <span class="text-dark text-capitalize ml-1">
                                        {{blog.updated_at}}
                                    </span>
                                </li>

                                <li class="list-inline-item">
                                    <span class="text-dark text-capitalize ml-1">
                                        En Negocios
                                    </span>
                                </li>
                            </ul>
                        </div>
     

                        <p class="drop-cap">
                            {{blog.description|linebreaksbr}}
                        </p>

                        <div class="clearfix"></div>

                    </div>
                </div>
   
            </div>
            <!-- END WIDGET BLOG -->
        </div>
    </section>
{% endblock %}