{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- BREADCRUMB -->
        <div class="bg-theme-overlay">
            <section class="section__breadcrumb ">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8 text-center">
                            <h2 class="text-capitalize text-white">Nosotros</h2>
                            <ul class="list-inline ">
                                <li class="list-inline-item">
                                    <a href="/" class="text-white">
                                        home
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/about/" class="text-white">
                                        Nosostros
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- END BREADCRUMB -->
    </header>
    <div class="clearfix"></div>


    <!-- ABOUT -->
    <section class="home__about bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title__leading">
                        <!-- <h6 class="text-uppercase">trusted By thousands</h6> -->
                        <h2 class="text-capitalize">Nosotros</h2>
                        <p>
                            En AndesPropiedades, llevamos más de 10 años ayudando a familias, inversionistas y empresas a encontrar la propiedad ideal en Santiago.
                            Nuestro equipo de corredores, abogados y expertos inmobiliarios se dedica a brindar una atención 100% personalizada.
                            Conocemos cada comuna de Santiago al detalle y trabajamos con pasión para conectar a las personas con espacios que se ajusten a sus sueños y necesidades.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                        <div class="about__image">
                            <div class="about__image-top">
                                <div class="about__image-top-hover">
                                    <img src="{% static 'images/p.jpg' %}" alt="" class="img-fluid">
                                </div>

                            </div>
                            <div class="about__image-bottom">
                                <div class="about__image-bottom-hover">
                                    <img src="{% static 'images/p.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="col-lg-6">
                    <div class="title__leading">
                        <!-- <h6 class="text-uppercase">trusted By thousands</h6> -->
                        <h2 class="text-capitalize">Visión</h2>
                        <p>
                            Ser la empresa inmobiliaria líder en Santiago, reconocida por ofrecer un servicio humano, confiable y eficiente en el proceso de compra, arriendo o venta de propiedades.
                        </p>

                        <h2 class="text-capitalize">Misión</h2>
                        <p>
                            Facilitar la vida de nuestros clientes conectándolos con su hogar ideal o inversión perfecta, a través de un servicio profesional, ético y cercano.
                        </p>
                    </div>
                </div>



    
            </div>
        </div>
    </section>
    <!-- END ABOUT -->



    <section class="projects__partner ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="title__head">
                        <h2 class="text-center text-capitalize">Agenda tu visita o consulta con un asesor hoy mismo.</h2>
                        <p class="text-center text-capitalize">Compra, arrienda o vende con confianza. Especialistas en propiedades residenciales y comerciales en Santiago de Chile. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="projects__partner-logo">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <img src="images/partner-logo6.png" alt="" class="img-fluid">
                            </li>
                            <li class="list-inline-item">
                                <img src="images/partner-logo7.png" alt="" class="img-fluid">
                            </li>
                            <li class="list-inline-item">
                                <img src="images/partner-logo8.png" alt="" class="img-fluid">
                            </li>
                            <li class="list-inline-item">
                                <img src="images/partner-logo1.png" alt="" class="img-fluid">
                            </li>
                            <li class="list-inline-item">
                                <img src="images/partner-logo5.png" alt="" class="img-fluid">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- OUR TEAM -->
     <!---
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="title__head">
                        <h2 class="text-center text-capitalize">
                            our Team
                        </h2>
                        <p class="text-center text-capitalize">see our top of the month teams</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wrap-agent">
    <div class="team-member">
        <div class="team-img">
            <img alt="team member" class="img-fluid w-100" src="images/360x300.jpg">
        </div>
        <div class="team-hover">
            <div class="desk">
                <h5>
                    Hi There !
                </h5>
                <p>
                    I am Senior Agent Property
                </p>
                <a class="btn btn-primary" href="#">
                    Agent Profile
                </a>
            </div>
            <ul class="list-inline s-link mb-0">
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fa fa-facebook">
                        </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fa fa-twitter">
                        </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fa fa-google-plus">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="team-title">
            <h6>
                Martin Smith
            </h6>
            <span>
                Agent Real Estate
            </span>
        </div>
    </div>
</div>
                </div>
                <div class="col-md-4">
                    <div class="wrap-agent">
                        <div class="team-member">
                            <div class="team-img">
                                <img alt="team member" class="img-fluid w-100" src="images/360x300.jpg">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <h5>
                                        Hi There !
                                    </h5>
                                    <p>
                                        I am Senior Agent Property
                                    </p>
                                    <a class="btn btn-primary" href="#">
                                        Agent Profile
                                    </a>
                                </div>
                                <ul class="list-inline s-link mb-0">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-facebook">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-google-plus">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-title">
                                <h5>
                                    Martin Smith
                                </h5>
                                <span>
                                    Agent Real Estate
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wrap-agent">
                        <div class="team-member">
                            <div class="team-img">
                                <img alt="team member" class="img-fluid w-100" src="images/360x300.jpg">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <h5>
                                        Hi There !
                                    </h5>
                                    <p>
                                        I am Senior Agent Property
                                    </p>
                                    <a class="btn btn-primary" href="#">
                                        Agent Profile
                                    </a>
                                </div>
                                <ul class="list-inline s-link mb-0">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-facebook">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-google-plus">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-title">
                                <h5>
                                    Martin Smith
                                </h5>
                                <span>
                                    Agent Real Estate
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        -->
    <!-- END TEAM -->


{% endblock %}